/* CSS Document */
body{padding:0px; margin:0px; background:#fff; color:#3a545f; font:10px/14px Tahoma, sans-serif; }
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px}

p a{font:10px/14px Tahoma, sans-serif; color:#ae2124; font-weight:normal; text-decoration:none }
p a:hover{color:#fff; background:#000; text-decoration:none;}

p span.headline{font:10px/12px Tahoma, sans-serif; color:#000000; font-weight:bold;}
p span.headline2{font:10px/12px Tahoma, sans-serif; color:#ae2124; font-weight:bold;}

/* BUTTONS */

#buttons{width:645px; height:97px; position:relative; margin: 0 auto;}

#buttons ul{position:absolute; top:0; left:0;}
#buttons ul li{float:left; width:90px; height:97px; margin-right:21px}
#buttons ul li a{ width:90px; height:97px; display:block; text-indent:-20000px; }
#buttons ul li a:hover{ width:90px; height:97px; }

#buttons ul li.home a{background:url(../images/btn_home.jpg) 0 0 no-repeat; }
#buttons ul li.home a:hover{background:url(../images/btn_home_over.jpg) 0 0 no-repeat;}

#buttons ul li.company a{background:url(../images/btn_company.jpg) 0 0 no-repeat; }
#buttons ul li.company a:hover{background:url(../images/btn_company_over.jpg) 0 0 no-repeat;}

#buttons ul li.services a{background:url(../images/btn_services.jpg) 0 0 no-repeat;}
#buttons ul li.services a:hover{background:url(../images/btn_services_over.jpg) 0 0 no-repeat;}

#buttons ul li.solutions a{background:url(../images/btn_solutions.jpg) 0 0 no-repeat; }
#buttons ul li.solutions a:hover{background:url(../images/btn_solutions_over.jpg) 0 0 no-repeat;}

#buttons ul li.support a{background:url(../images/btn_support.jpg) 0 0 no-repeat;}
#buttons ul li.support a:hover{background:url(../images/btn_support_over.jpg) 0 0 no-repeat;}

#buttons ul li.contacts{margin-right:0}
#buttons ul li.contacts a{background:url(../images/btn_contacts.jpg) 0 0 no-repeat;}
#buttons ul li.contacts a:hover{background:url(../images/btn_contacts_over.jpg) 0 0 no-repeat;}


/* MAIN */

#main{width:775px; height:279px; background:url(../images/b_main.jpg) 0 0 no-repeat; position:relative; margin: 0 auto; clear:both }
#logo{position:absolute; top:4px; left:65px}
#mainimg{position:absolute; top:4px; left:421px}
#welcome{position:absolute; top:142px; left:43px; height:137px; width:378px; background:url(../images/img_welcome.jpg) 0 0 no-repeat;}
#welcome h2{height:43px; background:url(../images/h_welcome.gif) 165px 23px no-repeat; margin-bottom:10px;}
#welcome p{width:195px; margin-left:173px;}


/* CONTENT */

#content{width:775px; position:relative; margin: 0 auto; clear:both; padding-top:24px; }

#leftPan{width:355px; position:relative; float:left; display:inline; margin:0 42px 0 79px}

#services h2{height:25px; background:url(../images/h_services.gif) 0 0 no-repeat; margin-bottom:21px; position:relative}
.servicesitem{position:relative; margin-bottom:10px;}
.servicesitem img{float:left; margin-right:7px;}
.servicesitem p{width:260px; margin-top:5px; padding-bottom:15px; border-bottom:#e5e5e5 1px solid; float:left;}

#rightPan{width:270px; position:relative; float:left; display:inline;}
#solutions{position:relative; margin-bottom:15px;}
#solutions h2{height:25px; background:url(../images/h_solutions.gif) 0 0 no-repeat; margin-bottom:25px; position:relative;}
#solutions img{margin-right:18px; float:left;}
#solutions p{width:118px; float:left; }

#solutions ul{ position:relative; padding-top:10px; width:210px; clear:both}
#solutions li{background:url(../images/arrow.gif) 7px 5px no-repeat; padding-left:25px; height:16px}
#solutions li a{font:10px/14px Tahoma, sans-serif; color:#ae2124; font-weight:normal; text-decoration:underline}
#solutions li a:hover{color:#fff; font-weight:normal; text-decoration:none; background:#ae2124;}

#experts{position:relative; clear:both}
#experts h2{height:37px; background:url(../images/h_experts.gif) 0 12px no-repeat; margin-bottom:10px; position:relative;}
#experts img{position:absolute; top:0px; left:161px}
#experts p{width:155px; padding-left:1px; padding-bottom:10px}



/* FOOTER */

#footer{width:775px; height:104px; background:url(../images/b_footer.jpg) 0 0 repeat-x; position:relative; margin: 0 auto; clear:both }
#footer p{padding: 35px 0 0 0; font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#fff;}
#footer p a{font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#fff; text-decoration:none; padding: 0 5px }
#footer p a:hover{text-decoration:none; background:#fff; color:#95bfcf}
