body{
	padding:0px;
	margin:0px;
	background:#FFF;
	color:#858585;
	font:10px/14px Tahoma, sans-serif;
}

div, p, ul, h2, h3, h4, img, form{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear{
clear:both;
}

.frame {
	border: 1px solid #BAD1C3;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #017351;
	font-weight: bold;
	line-height: 12px;
}
.text2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #f9b331;
}
.text3 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #789382;
}
.text4 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ec2828;
}
.text5 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #741907;
}


a:link {
	color: #789382;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;

}
a:visited {
	color: #789382;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;

}

a:hover {
	color: #789382;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}

a.a:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #789382;
	text-decoration: underline;
}
a.a:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #789382;
	text-decoration: underline;
}
a.a:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #36BA93;
	text-decoration: none;
	line-height: 14px;
}

a.b:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9c7c81;
	text-decoration: underline;
}
a.b:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9c7c81;
	text-decoration: underline;
}
a.b:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #D6132A;
	text-decoration: none;
	line-height: 14px;
}

a.c:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #989560;
	text-decoration: none;
}

a.d:link {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:visited {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:hover {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF6C00;
	text-decoration: none;
}

#header{
position:relative; 
}

#logo{
position:absolute; top:12px; left:27px;
}

#slogan{
position:absolute; top:170px; left:63px;
}

#btn{
position:absolute; top:275px; left:129px;
}

#buttons{
	position:absolute;
	top:80px;
	left:29px;
	width: 456px;
}

#container{
position:relative;
width:721px;
margin:28px 0 0 29px;
}

#indent1{
width:330px;
float:left;
}

#indent2{
width:333px;
margin-left:53px;
float:left;
}

ul.check li{background:url(../images/check.gif) 0 5px no-repeat; padding-left:14px; margin-bottom:3px;}
ul.check li a{font:10px/14px Tahoma, sans-serif; color:#000; font-weight:normal; text-decoration:none;}
ul.check li a:hover{color:#000; font-weight:normal; text-decoration:underline;}

ul.arrow li{background:url(../images/arrow.gif) 0 2px no-repeat; padding-left:18px; margin-bottom:6px;}
ul.arrow li a{font:10px/14px Tahoma, sans-serif; color:#789382; font-weight:normal; text-decoration:underline;}
ul.arrow li a:hover{color:#789382; font-weight:normal; text-decoration:none;}

#links{
	margin:25px 0 0 0;
	line-height:18px;
}

input, textarea{
border:#bed7c9 1px solid;
background-color:#eefced;
margin-top:5px;
font:10px/12px Tahoma, sans-serif; color:#000; 
}
