/* CSS Document */
body{padding:0px; margin:0px; background:#27271f; color:#858585; font:10px/14px Tahoma, sans-serif; }
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px}

p span.headline{font:12px/14px "Times New Roman", Times, serif; color:#cfa779; font-weight:normal;}

/* HEADER */

#header{width:775px; height:260px; background:url(../images/b_top.jpg) 0 0 no-repeat; position:relative; margin: 0 auto;}
#logo{position:absolute; top:15px; left:386px}

#header ul{height:19px; position:absolute; top:170px; left:358px; width:415px}
#header ul li{float:left; margin-right:7px}

#header ul li.home a{width:75px; height:19px; display:block; background:url(../images/btn_home.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.home a:hover{width:75px; height:19px; background:url(../images/btn_home_over.gif) 0 0 no-repeat;}

#header ul li.bio a{width:28px; height:19px; display:block; background:url(../images/btn_bio.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.bio a:hover{width:28px; height:19px; background:url(../images/btn_bio_over.gif) 0 0 no-repeat;}

#header ul li.works a{width:49px; height:19px; display:block; background:url(../images/btn_works.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.works a:hover{width:49px; height:19px; background:url(../images/btn_works_over.gif) 0 0 no-repeat;}

#header ul li.articles a{width:63px; height:19px; display:block; background:url(../images/btn_articles.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.articles a:hover{width:63px; height:19px; background:url(../images/btn_articles_over.gif) 0 0 no-repeat;}

#header ul li.contact a{width:63px; height:19px; display:block; background:url(../images/btn_contact.gif) 0 0 no-repeat; text-indent:-20000px; }
#header ul li.contact a:hover{width:63px; height:19px; background:url(../images/btn_contact_over.gif) 0 0 no-repeat;}

#header ul li.bullet{width:5px; height:19px; display:block; background:url(../images/bullet_btn.gif) 0 7px no-repeat; }

/* CONTENT */

#content{width:716px; position:relative; margin: 0 auto; padding-left:59px;; clear:both}

.line{width:1px; height:312px;  background:url(../images/line.jpg) 0 15px no-repeat; position:relative; float:left;}

#about{width:200px; position:relative; float:left; display:inline; margin:0 12px 50px 17px;}
#about h2{height:49px; background:url(../images/h_about.gif) 0 0 no-repeat; position:relative; clear:both; margin-bottom:13px}
#about p{padding-left:2px;}
#about p span{margin-bottom:20px; display:block;}
#about img{padding-left:2px; margin-top:15px;}

#welcome{width:370px; position:relative; float:left; display:inline; margin:0 24px 50px 30px;}
#welcome img{float:left;  position:relative; margin-bottom:7px}
#welcome h2{height:49px; width:190px; background:url(../images/h_welcome.gif) 0 0 no-repeat; position:relative; float:left;  margin-bottom:13px}
#welcome p span{display:block; float:left; width:198px; padding-left:14px; position:relative; margin-bottom:7px}
#welcome p{padding-left:17px}

#welcome ul{margin-top:10px;}
#welcome li{background:url(../images/arrow.gif) 13px 2px no-repeat; padding-left:30px; height:24px}
#welcome li a{font:10px/14px Tahoma, sans-serif; color:#cfa779; font-weight:normal; text-decoration:underline}
#welcome li a:hover{color:#cfa779; font-weight:normal; text-decoration:none; background:#21211a;}

/* BOTTOMLINE */

#bottomline{width:775px; position:relative; margin: 0 auto;}

/* NEW */

#new{width:775px; height:116px; position:relative; background:url(../images/b_new.jpg) 0 0 repeat; margin: 0 auto; clear:both}
#new h2{height:45px; width:132px; background:url(../images/h_new.gif) 0 0 no-repeat; position:relative; float:left; display:inline; margin:10px 23px 0 68px;}
.newbook{width:225px; float:left; margin:7px 30px 0 0; display:block}
.newbook img{float:left; border:#404036 2px solid; margin-right:15px; }
.newbook p {margin-top:5px}

#new a{font:10px/14px Tahoma, sans-serif; color:#cfa779; font-weight:normal; text-decoration:none }
#new a:hover{color:#cfa779; border-bottom: #cfa779 1px dotted; text-decoration:none }

/* FOOTER */
#footer{width:775px; height:89px; position:relative; background:#21211a; margin: 0 auto;  clear:both}
#footer p{padding: 30px 0 0 0; font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#858585;}
#footer p a{font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#858585; text-decoration:none; padding: 0 5px }
#footer p a:hover{text-decoration:none; background:#cfa779; color:#000}
