body{
	padding:0px;
	margin:0px;
	background:#FFF;
	color:#484848;
	font:10px/14px Tahoma, sans-serif;
}

div, p, ul, h2, h3, h4, img, form{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear{
clear:both;
}

.frame {
	border: 1px solid #9C9A67;
}

.text1 {
	color: #175d62;
	font: italic bold 14px/12px "Times New Roman", Times, serif;
}
.text2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #47a8a6;
	line-height: 12px;
}
.text3 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
}
.text4 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #393a3c;
}
.text5 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #484848;
}


a:link {
	color: #ffffff;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;

}
a:visited {
	color: #ffffff;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;

}

a:hover {
	color: #ffffff;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}

a.a:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #484848;
	text-decoration: none;
}
a.a:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #484848;
	text-decoration: none;
}
a.a:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #327C89;
	text-decoration: none;
	line-height: 14px;
}

a.b:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
}
a.b:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
}
a.b:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #484848;
	text-decoration: underline;
	line-height: 14px;
}

a.c:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #989560;
	text-decoration: none;
}

a.d:link {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:visited {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:hover {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF6C00;
	text-decoration: none;
}

#header{
position:relative; 
}

#logo{
position:absolute; top:11px; left:50px;
}

#buttons{
padding: 26px 0 0 45px;
}

#container{
position:relative;
width:702px;
margin:22px 0 0 35px;
}

#indent1{
width:414px;
float:left;
border-right: #d9d9d9 1px dotted;
padding-right:20px;
}

#indent2{
width:247px;
margin-left:19px;
float:left;
}

ul.file li{background:url(../images/file.gif) 0 3px no-repeat; padding-left:19px; margin-bottom:6px;}
ul.file li a{font:10px/14px Tahoma, sans-serif; color:#484848; font-weight:normal; text-decoration:underline;}
ul.file li a:hover{color:#484848; font-weight:normal; text-decoration:none;}

ul.bullet2 li{background:url(../images/bullet.gif) 0 5px no-repeat; padding-left:13px; margin-bottom:15px;}
ul.bullet2 li a{font:10px/14px Tahoma, sans-serif; color:#9c7c81; font-weight:normal; text-decoration:underline;}
ul.bullet2 li a:hover{color:#ec2828; font-weight:normal; text-decoration:none;}

#links{
	margin:25px 0 0 0;
	line-height:18px;
}

input, textarea{
border:#b7b7b7 1px solid;
background-color:#f2f2f2;
margin-top:5px;
font:10px/12px Tahoma, sans-serif; color:#000; 
}

.feat{
padding-bottom:20px;
padding-top:14px; 
clear:both;
background: url(../images/point-line.gif) bottom left repeat-x;
}
