body{
	padding:0px;
	margin:0px;
	background:#FFF;
	color:#000000;
	font:10px/14px Tahoma, sans-serif;
}

div, p, ul, h2, h3, h4, img, form{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear{
clear:both;
}

.frame {
	border: 1px solid #020306;
}

.text1 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #c2130e;
	font-weight: normal;
	line-height: 14px;
}
.text2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #c2130e;
	font-weight: bold;
	line-height: 14px;
}

.text3 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.text4 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ec2828;
}
.text5 {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #741907;
}


a:link {
	color: #000000;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a:visited {
	color: #000000;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: #000000;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}

a.a:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #c2130e;
	text-decoration: none;
}
a.a:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9c2130e;
	text-decoration: none;
}
a.a:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}

a.b:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9c7c81;
	text-decoration: underline;
}
a.b:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9c7c81;
	text-decoration: underline;
}
a.b:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #D6132A;
	text-decoration: none;
	line-height: 14px;
}

a.c:link {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:visited {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #382a1a;
	text-decoration: none;
}
a.c:hover {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #989560;
	text-decoration: none;
}

a.d:link {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:visited {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #19333b;
	text-decoration: underline;
}
a.d:hover {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF6C00;
	text-decoration: none;
}

#header{
position:relative; 
}

#logo{
position:absolute; top:19px; left:18px;
}

#call{
position:absolute; top:31px; left:429px;
}

#btn{
position:absolute; top:198px; left:357px;
}

#slogan{
position:absolute; top:134px; left:246px;
}

#buttons{
	position:absolute;
	top:91px;
	left:26px;
	width: 141px;

}

#container{
position:relative;
width:735px;
}

#indent1{
width:180px;
float:left;
}

#indent2{
width:355px;
margin-left:10px;
float:left;
}

#indent3{
width:170px;
margin-left:20px;
float:left;
}

#indent4{
width:508px;
margin-left:10px;
float:left;
}

ul.arrow li{background:url(../images/arrow.gif) 0 5px no-repeat; padding-left:19px; margin-bottom:4px;}
ul.arrow li a{font:10px/14px Tahoma, sans-serif; color:#000000; font-weight:normal; text-decoration:none;}
ul.arrow li a:hover{color:#000000; font-weight:normal; text-decoration:underline;}

ul.arrow2 li{background:url(../images/arrow.gif) 0 5px no-repeat; padding-left:19px; margin-bottom:4px;}
ul.arrow2 li a{font:10px/14px Tahoma, sans-serif; color:#c0130e; font-weight:normal; text-decoration:underline;}
ul.arrow2 li a:hover{color:#c0130e; font-weight:normal; text-decoration:none;}

ul.file li{background:url(../images/file.gif) 0 0 no-repeat; padding-left:21px; margin-bottom:20px;}

#links{
	margin:15px 0 0 0;
	line-height:18px;
}

input, textarea{
border:#e3e3e3 1px solid;
background-color:#fbfbfb;
margin-top:5px;
font:10px/12px Tahoma, sans-serif; color:#000; 
}
