/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size: 100%;
}
.wrap{
	padding: 10px;
}
/* start header */
.header_bg{
	background: #ffffff;
}
.logo{
	text-align:center;
	margin-bottom: 5px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	width: 100%;
	border: 1px solid rgb(70, 155, 158);
	background: #11A8AB;
	color: #ffffff;
	cursor: pointer;
}
/* start slider */
.slider_bg{
	background: url('../images/slider_bg.jpg');
	background-size: 100% 100%;
}
.slider_text{
	text-align:center; 
}
.slider_text h2{
	font-size: 1.5em;
	color:#ffffff;
	text-transform:uppercase;
}
.slider_text h3{
	font-size: 0.8725em;
	color: #ffffff;
}
/* start main */
.main_bg{
	background:#ffffff;
	background-size: 100% 100%;
	padding-top: 10px;
}
.main_text{
	text-align:center;
	margin-bottom: 10px;
}
.main_text h2{
	font-size: 1.5em;
	color:#BEBEBE;
	text-transform:uppercase;
}
.main_text h3{
	text-transform:uppercase;
	font-size: 0.8725em;
	color: #BEBEBE;
}
.content_bg{
	background: url('../images/main_bg.jpg');
	background-size: 100% 100%;
	text-align:center;
	padding: 30px 0;
}
.main_pic a.btn{
	display: inline-block;
	background: rgba(255, 255, 255, 0.13);
	padding: 10px;
	text-transform: uppercase;
	font-size: 0.8725em;
	line-height: 1.5em;
	text-align: center;
	border: 2px solid #ffffff;
	color: #ffffff;
}
.main_pic a.btn:hover{
	background: rgba(255, 255, 255, 0.42);
}
/* start tabs style */
.tabs {
    position: relative;
	padding: 10px;
}
.tabs input {
	position: absolute;
	z-index: 1000;
	width: 81.333;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 10px;
	top:64px;
}
.tabs input#tab-3{
	left: 10px;
	top: 114px;
}
.tabs label {
	cursor: pointer;
	background: #ffffff;
	border-right: 1px solid rgb(231, 228, 228);
	font-size: 1em;
	text-transform: uppercase;
	line-height: 55px;
	height: 50px;
	position: relative;
	padding: 0 20px;
	float: left;
	display: block;
	width: 80.33333%;
	color: #bebebe;
	text-align: center;
}
.tabs label:after {
	content: '';
	background: #fff;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 0px;
	border-bottom: 1px solid rgb(241, 238, 238);
	display: block;
}
.tabs input:hover + label {
	background: #F8B156;
	color:#ffffff;
}
.tabs label:first-of-type {
	border-left: 1px solid rgb(241, 238, 238);
    z-index: 4;
}
.tab-label-2 {
    z-index: 3;
}
.tab-label-3 {
    z-index: 2;
}
.tabs input:checked + label {
	cursor:pointer;
	color: #5c5c5c;
    background: #fff;
	z-index: 6;
}
.clear-shadow {
	clear: both;
}
.content_tab {
    background: #fff;
	position: relative;
    width: 100%;
    min-height: 200px;
}
.content_tab div {
	width:100%;
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	z-index: 1;
    opacity: 0;

}
.tabs input.tab-selector-1:checked ~ .content_tab .content-1,
.tabs input.tab-selector-2:checked ~ .content_tab .content-2,
.tabs input.tab-selector-3:checked ~ .content_tab .content-3 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.content_tab ul li:before{
	content: url('../images/arrow.png');
	padding-top: 4px;
	padding-right: 8px;
	display: inline-block;
	vertical-align: middle;
	line-height: 2em;
}
.content_tab ul{
	margin-left: 20px;
}
.content_tab ul li {
	font-size: 0.85em;
	color: #555555;
}
.content_tab h2{
	font-size: 0.8725em;
	color: #bebebe;
	text-transform: uppercase;
}
.content_tab h3{
	padding:5px 0;
	font-size: 1.2em;
	color: #777777;
	text-transform: uppercase;
}
.content_tab p{
	font-size:13px;
	color: #333333;
	line-height: 1.5em;
}
/* start work-page */
.work_bg{
	background:#F8B156;
}
.main_text1{
	text-align:center;
	margin-bottom: 10px;
}
.main_text1 h2{
	font-size: 1.5em;
	color:#ffffff;
	text-transform:uppercase;
}
.main_text1 h3{
	text-transform:uppercase;
	font-size: 0.8725em;
	color: #ffffff;
}
/* start grids_of_2 */
.grids_of_2{
	display:block;
	margin-bottom: 10px;
}
.grid_1_of_2{
	float: left;
	width: 98.33333%;
	display: inline-flex;
	background: #ffffff;
	margin-bottom: 10px;
}
.grid_pic{
	width: 36.77777%;
	float: left;
}
.grid_pic img{
	margin-bottom: -5px;
}
.grid_text{
	width: 52.333333%;
	padding:5px 0 0 10px ;
	float: left;
	background: #ffffff;
}
.grid_text h2{
	font-size: 0.9725em;
	color:#333333;
	text-transform:uppercase;
}
.grid_text p {
	font-size: 13px;
	color: #555555;
	line-height: 1.5em;
}
/* end grids_of_2 */
.wrk_btn{
	text-align:center;
}
.wrk_btn a{
	display: inline-block;
	font-size: 0.8725em;
	color: #ffffff;
	border: 2px solid #FFFFFF;
	padding: 12px 24px;
	text-transform: uppercase;
	line-height: 1.5em;
}
.wrk_btn a:hover{
	background: #ffffff;
	color: #F8B156;
}
/* start service-page */
.service_bg{
	background:#66BDB8;
}
.service_main{
	position: relative;
}
.service_pic{
	position: absolute;
	top: -10%;
	left: 25%;
}
.service_list{
	background: #6FCFC9;
	text-align: center;
	margin-top: 40px;
	padding: 80px 0 20px 0;
}
.service_list p{
	font-size:0.8925em;
	color: #ffffff;
	line-height: 1.5em;
}
.service_list h3{
	text-transform:uppercase;
	margin-top:2%;
	font-size:1.2em;
	color: #ffffff;
}
/* start contact-page */
.contact_bg{
	background:#6FCFC9;
}
/* start grids_of_2 */
.span_of_2{
	display:block;
	margin-bottom: 10px;
}
/* end grids_of_2 */
.contact-form{
	display: block;
}
.contact-form div{
	padding-top: 5px;
}
.contact-form span label{
	color: #ffffff;
	display: block;
	font-size: 13px;
	float: left;
	width: 24.33333%;
	text-align:center;
}
.contact-form input[type="text"], .contact-form textarea {
	font-family: Arial, Geneva,Helvetica, sans-serif;	
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	color: rgba(85, 81, 81, 0.84);
	padding: 10px;
	display: block;
	float: right;
	width: 62.33333%;
	outline: none;
	-webkit-appearance: none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	margin-left:28.33333%;
	cursor: pointer;
	-webkit-appearance: none;
	padding: 10px 28px;
	border: 1px solid #ffffff;
	background: none;
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	color: #ffffff;
	outline:none;
}
.contact-form input[type="submit"]:hover{
	background: #ffffff;
	color:#6FCFC9;
}
/* address */
.address{
	margin-top: 10px;
}
.span_1_of_2_pic{
	float: left;
	margin-right: 10px;
	width: 12.3333%;
}
.span_1_of_2_pic img{
	margin-top: 4px;
}
.span_1_of_2_text{
	width:82.3333333%;
	float: left;
}
.span_1_of_2_text p{
	font-size: 1em;
	color: #ffffff;
	line-height: 1.5em;
	text-transform:capitalize;
}
.span_1_of_2_text h3 a{
	font-size: 1em;
	color: #ffffff;
	text-transform: lowercase;
	line-height: 1.5em;
}
.span_1_of_2_text h3 a:hover{
	color: #f0f0f0;
}
.span_1_of_2_text h4{
	font-size: 1em;
	color: #ffffff;
	text-transform: lowercase;
	line-height: 2em;
}
/*--- social-icons ----*/
.social-icons {
	margin-top: 10px;
}
.social-icons h3{
	font-size: 1em;
	color: #ffffff;
	text-transform: uppercase;
	margin: 10px 0;
}
.social-icons li{
	float:left;
	margin-right:5px;
	display:inline-block;
}
.social-icons li a {
	height: 38px;
	width: 38px;
	display: block;
	background:url(../images/soc_icons.png);
}
.social-icons li:nth-child(1) a{
	background: url(../images/soc_icons.png) 0% 0%;
}
.social-icons li:nth-child(1) a:hover{
	background: url(../images/soc_icons.png) 0% 100%;
}
.social-icons li:nth-child(2) a{
	background: url(../images/soc_icons.png) 24% 0%;
}
.social-icons li:nth-child(2) a:hover{
	background: url(../images/soc_icons.png) 24% 100%;
}
.social-icons li:nth-child(3) a{
	background: url(../images/soc_icons.png) 50% 0%;
}
.social-icons li:nth-child(3) a:hover{
	background: url(../images/soc_icons.png) 50% 100%;
}
.social-icons li:nth-child(4) a{
	background: url(../images/soc_icons.png) 75% 0%;
}
.social-icons li:nth-child(4) a:hover{
	background: url(../images/soc_icons.png) 75% 100%;
}
.social-icons li:nth-child(5) a{
	background: url(../images/soc_icons.png) 100% 0%;
}
.social-icons li:nth-child(5) a:hover{
	background: url(../images/soc_icons.png) 100% 100%;
}
/* start footer */
.footer_bg{
	background: #ffffff;
}
.footer{
	text-align:center;
}
.footer_nav {
	text-align:center;
}
.footer_nav li{
	display: inline-block;
}
.footer_nav ul li a {
	display: block;
	padding: 4px 0px;
	text-transform: uppercase;
	font-size: 12px;
	color: #555555;
}
.footer_nav ul li a:hover{
	color:#6FCFC9;
}
.logo1{
	margin: 10px 0;
}
.copy{
	display: block;
}
.copy img{
	vertical-align: middle;
}
.copy p{
	text-transform:uppercase;
	color: #555555;
	font-size: 0.8725em;
	line-height: 1.5em;
}
.copy p a{
	color:#6FCFC9;
}
.copy p a:hover{
	color: #555555;
}
