/* CSS Document */
body{padding:0px; margin:0px; background:#363435; color:#ebd5d7; font:10px/14px Tahoma, sans-serif; }
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px}

/* HEADER */

#header{height:361px; width:775px; margin: 0 auto; position:relative; background:url(../images/b_top.jpg) 0 0 no-repeat; clear:both}

#logo{width:318px; height:158px; position:absolute; top:130px; left:90px}

#header ul{height:40px; position:absolute; top:26px; left:82px}
#header ul li{float:left; margin-right:23px}

#header ul li.home a{width:48px; height:37px; display:block; background:url(../images/btn_home.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.home a:hover{width:48px; height:37px; background:url(../images/btn_home_over.gif) 0 0 no-repeat;}

#header ul li.about a{width:68px; height:37px; display:block; background:url(../images/btn_about.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.about a:hover{width:68px; height:37px; background:url(../images/btn_about_over.gif) 0 0 no-repeat;}

#header ul li.services a{width:61px; height:37px; display:block; background:url(../images/btn_services.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.services a:hover{width:61px; height:37px; background:url(../images/btn_services_over.gif) 0 0 no-repeat;}

#header ul li.projects a{width:64px; height:37px; display:block; background:url(../images/btn_projects.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.projects a:hover{width:64px; height:37px; background:url(../images/btn_projects_over.gif) 0 0 no-repeat;}

#header ul li.portfolio a{width:71px; height:37px; display:block; background:url(../images/btn_portfolio.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.portfolio a:hover{width:71px; height:37px; background:url(../images/btn_portfolio_over.gif) 0 0 no-repeat;}

#header ul li.contact a{width:59px; height:37px; display:block; background:url(../images/btn_contact.gif) 0 0 no-repeat; text-indent:-20000px;}
#header ul li.contact a:hover{width:59px; height:37px; background:url(../images/btn_contact_over.gif) 0 0 no-repeat;}

#header ul li.line{width:2px; height:37px; display:block; background:url(../images/line_btn.jpg) 0 24px no-repeat;}

/* CONTENT */

#content{width:775px; margin: 0 auto; position:relative; clear:both}

#content a{font:10px/14px Tahoma, sans-serif; color:#fff; font-weight:bold; text-decoration:none }
#content a:hover{color:#ebd5d7; border-bottom: #fff 1px dotted; text-decoration:none }

#content p span.headline{font:11px/14px Trebuchet MS, sans-serif; color:#fff; font-weight:bold;}
#content p span.headline2{font:11px/12px Trebuchet MS, sans-serif; color:#b1625e; font-weight:bold;}
#content p span.date{font:11px/12px Trebuchet MS, sans-serif; color:#fff; font-weight:bold;}

#leftPan{width:404px; padding: 14px 18px 10px 67px; position:relative; float:left; display:inline;}

#welcome h2{height:21px; background:url(../images/h_welcome.gif) 0 0 no-repeat; position:relative; clear:both;}
#welcome p {margin: 0 0 0 3px;}

#rightPan{width:209px; padding: 14px 77px 10px 0; position:relative; float:left;}

#highlights h2{height:21px; background:url(../images/h_highlights.gif) 0 0 no-repeat; position:relative;clear:both;}
#highlights p.bullettext{padding:0 0 0 24px; background:url(../images/bullet.gif) 9px 4px no-repeat; margin-bottom:7px;}


/* FOOTER */

#footer{height:302px; width:685px; margin: 0 auto; position:relative; background:url(../images/b_bottom.jpg) 0 0 no-repeat; clear:both; padding: 0 45px;}

#footer h2{width:400px; height:41px; background:url(../images/h_projects.gif) 22px 12px no-repeat; position:relative; clear:both;}

#view{width:117px; height:13px; position:absolute; top:14px; left:584px;}

.project{width:204px; float:left; display:inline; margin-left:18px; margin-top:19px;}
.project img{margin-bottom:7px;}

.project li{ background:url(../images/arrow.gif) 2px 3px no-repeat; padding-left:17px; height:16px}
.project li a{font:10px/14px Tahoma, sans-serif; color:#454138; font-weight:normal; text-decoration:underline }
.project li a:hover{color:#fff; font-weight:normal; text-decoration:none; background:#000}

#links{clear:both; margin-top:20px}

#links p{padding: 15px 0 0 0; font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#fff;}
#links p a{font:10px/16px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#fff; text-decoration:none; padding: 0 2px }
#links p a:hover{color:#000; border-bottom: #000 1px dotted; text-decoration:none; background:#ebd5d7; }
